<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hands Generator</title>
    <script src="{{ url_for('static', filename='get_predictions.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <h1>Hands generator</h1>
        <button id="generate_button">Generate hands!</button>
        <div id="generatedImages"></div>
    </main>
</body>
</html>